*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    /* display: flex; */


    

}
h1{
    font-weight: 530;
    font-size: 50px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 50px 0 0 50px;
}
 
#form{
    height: 350px ;
    width: 500px;
    background-color: green;
    color: white;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;

}
#radio{
    display: flex;
}
#align{
    display: flex;
}