h1{
    font-size: 2.5rem;
}

.container{
    display: flex;

}
.text-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    font-size: 1.2rem;
}
.btn{
    position:absolute;
    right:0;

}